<h1>welcome to User Base</h1>
<%= form_for @users, url: users_path, multipart: true, remote: true, html: { id: "reportform" } do |f| %>
  <div class='form-group'>
    <%= f.label :file, 'Upload CSV File' %>
    </br>
    <%= f.file_field :file, class: 'form-control-file', required: true %>
  </div>
  <div id='result'></div>
  <%= f.submit 'Upload CSV' %>
<% end %>
